name: ci

env:
  c

on:
  push:
    branches:
      - 'main'

jobs:

# Test and build
  myCI:
    runs-on: ubuntu-latest
    steps:

# Test NPM
      - id: Clone_Repository
        uses: actions/checkout@v2

      - name: Export Version
        id: Branch_Commit
        run: |
          COMMIT=$(git log -1 --pretty=tformat:%h)
          BRANCH=$(git branch --show-current)
          echo "$BRANCH-$COMMIT"
          export $COMMIT
  
      - name: Install dependencies
        id: Installing_NPM_Dependencies
        run: |
          echo "--- INSTALLING DEPENDENCIES ---"
          npm install --no-audit
      
      - name: Run unit tests
        id: Unit_Tests
        run: |    
          echo "--- RUNNING UNIT TESTS ---"
          npm test 

# Build image
      - name: Build the Docker image
        run: |
          echo "--- Build image ---"
          docker build . --file Dockerfile --tag $IMAGE_NAME
          echo "$IMAGE_NAME$BRANCH-$COMMIT"

# Build and push
  Deploy:
    needs: myCI
    runs-on: ubuntu-latest
    steps:
      
      - id: Clone_Repository
        uses: actions/checkout@v2

# Build image
      - name: Build the Docker image
        run: |    
          echo "--- Build image ---"
          docker build . --file Dockerfile --tag $IMAGE_NAME

# Push in Docker Hub
      - name: Push image
        run: |    
          echo "--- Push image ---"
          docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" -p "${{ secrets.DOCKERHUB_TOKEN }}"
          docker push $IMAGE_NAME