name: ci

env: 
  DOCKER_IMAGE: "alehmudrak/github-action:"

on:

  push:
    branches:
      - 'main'

jobs:

# Test and build
  myCI:
    runs-on: ubuntu-latest
    steps:

# Test NPM
      - id: Clone_Repository
        uses: actions/checkout@v2

      - name: Export Version
        id: Export_Version
        run: |
          COMMIT=$(git log -1 --pretty=tformat:%h)
          BRANCH=$(git branch --show-current)
          echo "::set-output name=PROJECT_VERSION::$DOCKER_IMAGE$BRANCH-$COMMIT"        
  

# Build image
      - name: Build the Docker image
        run: |
          echo "--- Build image ---"
          echo "Project version: ${{  steps.Export_Version.outputs.PROJECT_VERSION  }}"        
          IMAGE_NAME=${{  steps.Export_Version.outputs.PROJECT_VERSION  }}
         

