name: ci

env: 
  DOCKER_IMAGE: "alehmudrak/github-action:"

on:

  create:
    tag:

  push:
    branches:
      - 'main'

jobs:

# Test and build
  myCI:
    runs-on: ubuntu-latest
    steps:

# Clone 2 repo and git Version
      - name: Clone Repository
        id: Clone_Repository
        uses: actions/checkout@v2

      - name: Clone Repository with common script
        id: Clone_Repositoru_With_Common_Scripts
        uses: actions/checkout@v2
        with:
          repository: "amin-serafat/github-ci "
          token: ${{ secrets.ACCESS_TOKEN }}
          path: "github-ci"

      - name: Export Branch-Hash
        id: Export_Branch_Hash
        run: |
          COMMIT=$(git log -1 --pretty=tformat:%h)
          BRANCH=$(git branch --show-current)
          echo "::set-output name=PROJECT_VERSION::$DOCKER_IMAGE$BRANCH-$COMMIT"

      - name: Export Version
        id: Export_Version
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        run: |
          GITVERSION=$(git describe --tags --abbrev=0 | sed 's/[^.0-9]*//g')
          echo "::set-output name=PROJECT_VERSION::$DOCKER_IMAGE$GITVERSION" 
        

# Build image
      - name: Build the Docker image
        run: |
          echo "--- Build image ---"
          echo "Project Branch-Hash: ${{  steps.Export_Version.outputs.Export_Branch_Hash  }}"
          echo "Project version: ${{  steps.Export_Version.outputs.PROJECT_VERSION  }}"
          IMAGE_NAME=${{  steps.Export_Version.outputs.PROJECT_VERSION  }}
         

