name: ci

env: 
  DOCKER_IMAGE: "alehmudrak/github-action:"

on:

  create:
    tag:

  push:
    branches:
      - 'main'

jobs:

# Test and build
  myCI:
    runs-on: ubuntu-latest
    steps:

# Clone 2 repo and git Version
      - name: Clone Repository
        id: Clone_Repository
        uses: actions/checkout@v2

      - name: Clone Repository with common script
        id: Clone_Repositoru_With_Common_Scripts
        uses: actions/checkout@v2
        with:
          repository: "amin-serafat/github-ci "
          token: ${{ secrets.ACCESS_TOKEN }}
          path: "github-ci"

      - name: Export Branch-Hash
        id: Export_Branch_Hash
        run: |
          ./github-ci/branch_version.sh


      - name: Export Version
        id: Export_Version
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        run: |
          ./github-ci/teg_version.sh 
       

# Build image
      - name: Build the Docker image
        run: |
          echo "--- Build image ---"
          echo "Project Branch-Hash: ${{  steps.Export_Branch_Hash.outputs.PROJECT_VERSION  }}"
          echo "Project version: ${{  steps.Export_Version.outputs.PROJECT_VERSION  }}"
          echo "From file /version/version.txt:"
          cat /version/version.txt
          IMAGE_NAME=${{  steps.Export_Version.outputs.PROJECT_VERSION  }}
         

